.site-layout-background {
  padding: 24px;
  background: var(--white);
  margin-top: 64px;
}

.ant-layout-header {
  background: var(--white) !important;
  border-bottom: 2px solid var(--border) !important;
}