@font-face {
  font-family: 'CircularXX';
  src: url('./assets/fonts/AvenirLTStd-Black.otf');
}

@font-face {
  font-family: 'CircularXX-Medium';
  src: url('./assets/fonts/AvenirLTStd-Medium.otf');
}